.result{
    
    transition: all 1s;
    transform:rotateY(90deg);
    
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.result .result-content{
    
    position: relative;
    width: 75%;
    height: auto;
    
    background-color: white;
    padding: 2rem 2rem 0 2rem;
    height: 62vh;
    border-radius: 16px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
}
/* for Chrome, Safari and Opera */
.result .result-content::-webkit-scrollbar {
    display: none;
}
.result .result-content h2{
    border-left: 6px solid black;
    padding-left: 10px;
    
}

.result .result-content .result-footer{
    margin-top: 1rem;
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    
    
}

.result .result-content .inner-container .question-card p{
    margin-bottom: 1rem;
    padding:5px;
}

.result-true-bg{
    background-color: #D6F5D6;
}
.result-false-bg{

    background-color: #FFCCCC;

}

@media screen and (max-width:1024px){

    .result span,
    .result p{
        font-size: 14px;
    }

    .result h2{
        font-size: 1rem;
    }

    .result .result-content{    
        width: 100%;
    }

}

@media screen and (min-width:1024px){

}